.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
label {
  font-size: 14px;
  font-weight: 500;
  color: var(--darkGrey);
  margin-bottom: 6px;
}

::ng-deep {
  .ant-select-selector {
    border-radius: 8px !important;
    height: 40px !important;
    width: 100% !important;
    padding-top: 4px !important;
    &:hover,
    :focus,
    :focus-visible {
      border-color: var(--primaryColor) !important;
    }
  }
  .ant-select-selection-item {
    span {
      display: flex !important;
      align-items: center !important;
    }
  }
  .ant-select-multiple .ant-select-selection-item {
    flex: 1;
  }
}
