<div class="addClinc" id="addUser">
  <app-popup-header
    [icon]="'medicine-box'"
    [title]="'Add New User'"
    [description]="'Create a new user account with role-based permissions'"
    (closePopup)="closePopup($event)"
  ></app-popup-header>

  <form class="body" [formGroup]="userForm">
    <div class="d-flex w-100 gap-4">
      <app-text-input
        class="w-50"
        [label]="'Full Name'"
        [controlName]="'name'"
        [parentGroup]="userForm"
        [placeholder]="'Enter Full Name'"
      ></app-text-input>

      <app-text-input
        class="w-50"
        [label]="'Email Address'"
        [controlName]="'email'"
        [parentGroup]="userForm"
        [placeholder]="'Enter Email'"
      ></app-text-input>
    </div>
    <div class="d-flex w-100 gap-4">
      <app-text-input
        class="w-50"
        [label]="'Phone Number'"
        [controlName]="'phone'"
        [parentGroup]="userForm"
        [placeholder]="'+011 00176855'"
      ></app-text-input>

      <app-text-input
        class="w-50"
        [label]="'Job Title'"
        [controlName]="'jobTitle'"
        [parentGroup]="userForm"
        [placeholder]="'Enter job title'"
      ></app-text-input>
    </div>
    <div class="d-flex w-100 gap-4">
      <app-text-input
        class="w-50"
        [label]="'User Role'"
        [controlName]="'role'"
        [parentGroup]="userForm"
        [placeholder]="'choose role'"
      ></app-text-input>

      <app-text-input
        class="w-50"
        [label]="'Assigned Clinic'"
        [controlName]="'assignedClinc'"
        [parentGroup]="userForm"
        [placeholder]="'choose clinic'"
      ></app-text-input>
    </div>
    <div class="d-flex w-100 gap-4">
      <app-text-input
        class="w-50"
        [label]="'Salary'"
        [controlName]="'salary'"
        [parentGroup]="userForm"
        [placeholder]="'5000'"
      ></app-text-input>

      <app-text-input
        class="w-50"
        [label]="'Profile Info'"
        [controlName]="'profileInfo'"
        [parentGroup]="userForm"
        [placeholder]="'Enter Profile Info'"
      ></app-text-input>
    </div>

    <app-status
      [controlName]="'active'"
      [parentGroup]="userForm"
      [label]="'Account Status'"
      [content]="'Active users can access the system'"
    ></app-status>
  </form>

  <app-popup-footer
    [submitText]="'Add User'"
    (cancel)="closePopup($event)"
    (submit)="submit($event)"
  ></app-popup-footer>
</div>
