label {
  font-size: 14px;
  font-weight: 500;
  color: var(--darkGrey);
  margin-bottom: 6px;
}
input {
  border-radius: 8px;
  height: 40px;
  &:hover,
  :focus,
  :focus-visible {
    border-color: var(--primaryColor);
  }
}
.ant-input-password-icon {
  position: absolute;
  inset-inline-end: 2%;
  top: 35%;
}
