<div [formGroup]="parentGroup">
  <label for="controlName">{{ label }}</label>

  <div class="position-relative">
    <input
      [type]="passwordVisible ? 'text' : 'password'"
      nz-input
      [formControlName]="controlName"
      [id]="controlName"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [nzStatus]="control.touched && control.invalid ? 'error' : ''"
    />

    <span
      nz-icon
      class="ant-input-password-icon"
      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
      (click)="passwordVisible = !passwordVisible"
    >
    </span>
  </div>
  <span class="text-danger mt-2" *ngIf="errorMessage && control.touched">{{
    errorMessage
  }}</span>
</div>
