<div [formGroup]="parentGroup">
  <label for="controlName">{{ label }}</label>

  <div class="position-relative">
    <input
      [type]="passwordVisible ? 'text' : 'password'"
      nz-input
      placeholder="input password"
      [formControlName]="controlName"
      [id]="controlName"
    />

    <span
      nz-icon
      class="ant-input-password-icon"
      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
      (click)="passwordVisible = !passwordVisible"
    >
    </span>
  </div>
</div>
