.addClinc {
  .body {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .phoneNumber,
    .email-clinicType {
      gap: 24px;
    }
  }
}

::ng-deep {
  .ant-modal-content {
    border-radius: 16px !important;

    .ant-modal-body {
      padding: 0px !important;

      .body {
        padding: 24px !important;

      }

      footer {
        padding: 24px;
      }
    }
  }
}